<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Np.</th>
            <th>Nama</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < category.length; i++){ %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= category[i].name %></td>
                <td>
                    <form action=""">
                        <a href="/category/edit/<%= category[i]._id %>" class="btn btn-warning">
                            <i class="fas fa-pencil-alt"></i>
                            Ubah
                        </a>
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                            Hapus
                        </button>
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
  </table>