body {
    margin: 0;
}

.container {
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.header {
    width: 100%;
    overflow: hidden;
    background: #b1b1b1;
    padding-left: 50px;
    margin-bottom: 50px;
}

.header .logo {
    font-size: 32px;
    float: left;
}

.header .navigation {
    float: right;
    margin-top: 40px;
}

.header .navigation li {
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
}

.header .navigation li a {
    color: #fff;
    text-decoration: none;
}